In [2]:
aniket = []

In [3]:
aniket

[]

In [4]:
aniket.append(2)

In [5]:
aniket

[2]

In [6]:
aniket.extend([44, 56, 'aniket', 'war'])

In [7]:
aniket

[2, 44, 56, 'aniket', 'war']

In [8]:
aniket.insert(0, 88)

In [9]:
aniket

[88, 2, 44, 56, 'aniket', 'war']

In [10]:
aniket.insert(3, 'fan')

In [11]:
aniket

[88, 2, 44, 'fan', 56, 'aniket', 'war']

In [12]:
aniket.insert(-1, 83)

In [13]:
aniket

[88, 2, 44, 'fan', 56, 'aniket', 83, 'war']

In [14]:
adak = {}

In [15]:
adak

{}

In [16]:
aniket[0]

88

In [17]:
aniket[1:4]

[2, 44, 'fan']

In [18]:
adak['tan'] = 88

In [19]:
adak

{'tan': 88}

In [20]:
adak.update({'gun':96, 'yuan':53, 'peso':83, 'won':71})

In [21]:
adak

{'tan': 88, 'gun': 96, 'yuan': 53, 'peso': 83, 'won': 71}

In [22]:
for i in adak:
    print(i)

tan
gun
yuan
peso
won

In [23]:
a = int(input())
b = int(input())
c = a**b
print(c)

8
3
512

In [24]:
f = int(input("1st term:- "))
g = int(input("2nd term:- "))
for i in range(f,g):
    if(i%2==0):
        print(pow(i,2))
    else:
        print(pow(i,3))

1st term:- 1
2nd term:- 45
1
4
27
16
125
36
343
64
729
100
1331
144
2197
196
3375
256
4913
324
6859
400
9261
484
12167
576
15625
676
19683
784
24389
900
29791
1024
35937
1156
42875
1296
50653
1444
59319
1600
68921
1764
79507
1936

In [32]:
print("hello ""world")

hello world

In [1]:
i = 0
while(i<45):
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [25]:
aniket

[88, 2, 44, 'fan', 56, 'aniket', 83, 'war']

In [26]:
print(aniket[0]+aniket[1])

90

In [29]:
print(aniket[0]+aniket[2])

132

In [31]:
del aniket[3]

In [32]:
del aniket[5]

In [33]:
aniket

[88, 2, 44, 56, 'aniket', 'war']

In [34]:
aniket.remove('aniket')

In [35]:
aniket.remove('war')

In [36]:
aniket

[88, 2, 44, 56]

In [37]:
larry = [73,64,49,16]

In [40]:
larry
aniket

[88, 2, 44, 56]

In [39]:
aniket
larry

[73, 64, 49, 16]

In [41]:
aniket+larry

[88, 2, 44, 56, 73, 64, 49, 16]

In [42]:
larry+aniket

[73, 64, 49, 16, 88, 2, 44, 56]

In [43]:
pun = larry+aniket

In [44]:
pun

[73, 64, 49, 16, 88, 2, 44, 56]

In [45]:
hen = pun

In [46]:
hen

[73, 64, 49, 16, 88, 2, 44, 56]

In [47]:
pun

[73, 64, 49, 16, 88, 2, 44, 56]

In [48]:
hen

[73, 64, 49, 16, 88, 2, 44, 56]

In [50]:
for i in hen:
    print(i)

73
64
49
16
88
2
44
56

In [53]:
t = 2
y = 4
temp = t
t = y
y = temp
print(y,t)

2 4

In [54]:
hen.pop()

56

In [72]:
hen

[2, 16, 44, 49, 64, 73, 88]

In [73]:
hen.count(1)

0

In [74]:
hen.sort()
hen.reverse()

In [75]:
hen

[2, 16, 44, 49, 64, 73, 88]

In [76]:
hen

[2, 16, 44, 49, 64, 73, 88]