List functions

In [7]:
list1 = ['harry', 'larry', 'fan', 'cricket', 'volleyball', 'ant']

In [8]:
list1

['harry', 'larry', 'fan', 'cricket', 'volleyball', 'ant']

In [9]:
list1[0]

'harry'

In [10]:
list1[1:4]

['larry', 'fan', 'cricket']

In [11]:
list1[::-1]

['ant', 'volleyball', 'cricket', 'fan', 'larry', 'harry']

In [12]:
list1.append(56)

In [13]:
list1

['harry', 'larry', 'fan', 'cricket', 'volleyball', 'ant', 56]

In [14]:
list1.append([1,2,52])

In [15]:
list1

['harry', 'larry', 'fan', 'cricket', 'volleyball', 'ant', 56, [1, 2, 52]]

In [17]:
list1[7]

[1, 2, 52]

In [18]:
list1[7][1]

2

In [19]:
list1[7].append(44)

In [20]:
list1

['harry', 'larry', 'fan', 'cricket', 'volleyball', 'ant', 56, [1, 2, 52, 44]]

In [21]:
list1[7].append([56,78,96])

In [22]:
list1

['harry',
 'larry',
 'fan',
 'cricket',
 'volleyball',
 'ant',
 56,
 [1, 2, 52, 44, [56, 78, 96]]]

In [23]:
list1[7][4][1]

78

In [24]:
list1[7][3] = 71

In [25]:
list1

['harry',
 'larry',
 'fan',
 'cricket',
 'volleyball',
 'ant',
 56,
 [1, 2, 52, 71, [56, 78, 96]]]

In [26]:
list1[7][4]=83

In [27]:
list1[7]

[1, 2, 52, 71, 83]

In [30]:
list1[7][4]

83

In [31]:
list1[7][4] = {'aniket':78, 'tan':55}

In [32]:
list1

['harry',
 'larry',
 'fan',
 'cricket',
 'volleyball',
 'ant',
 56,
 [1, 2, 52, 71, {'aniket': 78, 'tan': 55}]]

In [33]:
list1.reverse()

In [34]:
list1

[[1, 2, 52, 71, {'aniket': 78, 'tan': 55}],
 56,
 'ant',
 'volleyball',
 'cricket',
 'fan',
 'larry',
 'harry']

In [35]:
type(list1)

list

In [39]:
list1.sort()

TypeError: '<' not supported between instances of 'int' and 'list'

In [37]:
aniket = [1,2,34,23]

In [38]:
min(aniket)

1

In [40]:
list1

[[1, 2, 52, 71, {'aniket': 78, 'tan': 55}],
 56,
 'ant',
 'volleyball',
 'cricket',
 'fan',
 'larry',
 'harry']

In [41]:
list1.reverse()

In [42]:
list1

['harry',
 'larry',
 'fan',
 'cricket',
 'volleyball',
 'ant',
 56,
 [1, 2, 52, 71, {'aniket': 78, 'tan': 55}]]

In [46]:
list1.index('harry')

0

In [47]:
list1.index("harry")

0

In [50]:
list1[7][4] = 75

In [51]:
list1

['harry',
 'larry',
 'fan',
 'cricket',
 'volleyball',
 'ant',
 56,
 [1, 2, 52, 71, 75]]

In [52]:
list1.index([1,2,52,71,75])

7

In [53]:
len(list1)

8

In [55]:
list1.extend([44,89,29])

In [56]:
list1

['harry',
 'larry',
 'fan',
 'cricket',
 'volleyball',
 'ant',
 56,
 [1, 2, 52, 71, 75],
 44,
 89,
 29]